<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PDF2WORD</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

       
    	<div class="container">
            <h1 class='container-heading'><span class="heading_font">PDF2WORD</span></h1>
           
    	</div>

       
    	<div class="ml-container">
    		<form action="pdf" method="POST">
                <label for="Pregnancies" name="pdf">Upload Your PDF File </label>
                <input class="form-input" type="file" name="pdf" ><br>

                <label for="Glucose">Word file Name</label>
                <input class="form-input" type="text" name="filename" ><br>
                
        		<input type="submit" class="my-cta-button" value="Submit">
        	</form>
    	</div>

       

    </body>
</html>